@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
   font-family: "URW Gothic L", sans-serif; 
  /* font-family: "Roboto", sans-serif !important; */
}

.App {
  text-align: center;
}

body {
  height: 100%;
  background: #4e54c8;

  /* background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);

  background: linear-gradient(to right, #8f94fb, #4e54c8); */
}

h1 {
  color: azure;
  padding-top: 20px;
  padding-left: 10%;
  font-style: oblique;
  font-size: large;
}

h2 {
  color: azure;
  padding-top: 20px;
  padding-left: 5%;
  font-style: oblique;
  font-size: large;
}

.header {
  /* background-color: #242424; */
  /* min-height: 10vh; */
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff4d;
  opacity: 0.7;
  /* box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.315); */

  border-radius: 145px;
  background: linear-gradient(145deg, #555bd8, #474db6);
  box-shadow: 5px 5px 10px #353987, -5px -5px 10px #6971ff;
}

.textHeader {
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
}

.inpt {
  background-color: rgba(34, 34, 34, 0.151);
  border: 0.1px #ffffff25;

  height: 20px;
  color: azure;
  padding: 10px;
  /* margin-bottom: 50px; */

  border-radius: 145px;
  background: #4f55ca;
  box-shadow: inset 5px 5px 10px #353987, inset -5px -5px 10px #6971ff;
}

.inpt::placeholder {
  text-align: center;
  color: #ffffff;
  font-style: oblique;
}

.inpt1 {
  background-color: rgba(34, 34, 34, 0.151);
  border: 0.1px #ffffff25;
  border-radius: 50px;
  height: 20px;
  color: azure;
  display: flex;
  padding: 20px;
  /* margin-left: 45%; */
  margin-top: 25px;

  border-radius: 145px;
  background: #4f55ca;
  box-shadow: inset 5px 5px 10px #353987, inset -5px -5px 10px #6971ff;
}

.inpt1::placeholder {
  text-align: center;
  opacity: 0.7;
  color: #ffffff;
  font-style: oblique;
  font-size: large;
}

.inpt2 {
  background-color: rgba(34, 34, 34, 0.151);
  border: 0.1px #ffffff9c;
  border-radius: 50px;
  height: 20px;
  color: azure;
  display: flex;
  padding: 20px;
  /* margin-left: 45%; */
  margin-top: 25px;
  margin-bottom: 25px;

  border-radius: 145px;
  background: #4f55ca;
  box-shadow: inset 5px 5px 10px #353987, inset -5px -5px 10px #6971ff;
}

.inpt2::placeholder {
  text-align: center;
  opacity: 0.7;
  color: #ffffff;
  font-style: oblique;
  font-size: large;
}

.containerTable {
  display: flex;
  font-size: x-large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container input {
  margin-top: 20px;
  margin-left: 15px;
}

.container button {
  margin-top: 20px;
  margin-left: 15px;

}

.form__btn {
  padding: 10px 25px;
  font-size: 16px;
  background-color: #4f55ca;
  color: #ffffff;
  border: none;
  box-shadow: inset 5px 5px 10px #353987, inset -5px -5px 10px #6971ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;

}

.form__btn:hover {
  box-shadow: inset -3px -3px 10px #353987, inset 1px 1px 10px #ffffff41;
}

.container__wrapper {
  margin: 0px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - (80px + 95px));
  height: 100%;
}

.containerTable1 {
  margin-top: 45px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: x-large;
}

.containerTable2 {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 25px;
}

.d-flex {
  display: flex;
}

.d-flex-center-center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.w-100 {
  width: 100%;
}

.containerTableView {
  margin-top: 20px;
  font-size: x-large;
}

table {
  color: #ffffff;
  border: 2px;
  border-radius: 10px;
  background: linear-gradient(145deg, #555bd8, #474db6);
  box-shadow: 5px 5px 10px #353987, -5px -5px 10px #6971ff;
  /* padding-top: 25px; */
}

/* границы ячеек первого ряда таблицы */
th {
  padding: 10px 15px;
  border: 1px solid rgba(221, 221, 221, 0.541);
  background-color: rgba(34, 34, 34, 0.062);
}

/* границы ячеек тела таблицы */
td {
  border: 1px solid rgba(221, 221, 221, 0.541);
}

footer {
  color: #ffffff;
  background-color: rgba(83, 83, 83, 0.363);
  width: 100%;
  height: 80px;
  text-align: center;
  box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.315);

  /* text-shadow: 0px 0px 8px rgba(78, 78, 78, 0.753); */

  border-radius: 11px;
  background: #4e54c8;
  box-shadow: inset 12px 12px 19px #4045a4, inset -12px -12px 19px #5c63ec;
}

.textOnHP {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  font-weight: bolder;
  font-size: 110px;
  opacity: 0.7;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(220, 211, 255)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
}

.textFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  font-size: 15px;
  font-style: oblique;
  opacity: 0.8;
  color: rgb(221, 221, 221);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-align: center;
  padding: 5px 15px;
  margin: 0;
}

.mt-5 {
  margin-top: 25px;
}

.authBtn {
  /* background-color: rgba(34, 34, 34, 0.151); */
  /* border: 0.1px solid #ffffff25; */
  border: none;
  background-color: #4e54c8;
  border-radius: 50px;
  height: 20px;
  display: flex;
  color: #FAFAFA;
  align-items: center;
  padding: 20px 25px;
  margin: 0;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 5px 5px 10px #353987, inset -5px -5px 10px #6971ff;
  transition: 0.6s !important;
}

.authBtn:hover {
  cursor: pointer;
  box-shadow: inset -6px -6px 10px #353987, inset 1px 1px 15px #ffffff41;
}

.textOnNS {
  cursor: help;
  opacity: 0.5;
}

@media (max-width: 1600px) {
  .textHeader {
    font-size: 18px;
  }

  .container__wrapper {
    min-height: calc(100vh - (80px + 81px));
  }
}
